[Unit]
Description=Monero Full Node
After=syslog.target network.target

[Service]
ExecStart=/usr/sbin/monerod --config-file ${CONFIG_FILE} --data-dir ${DATA_DIR} --pidfile ${PID_FILE} $OPTIONS

User=monero
Group=monero
Restart=on-failure
PrivateTmp=true
TimeoutStopSec=120
TimeoutStartSec=60
StartLimitInterval=240
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
